.chat {
    font-family: 'Roboto', sans-serif;
    height: 376px;
    width: 100%;
}

.chat>hr {
    border: solid #ececec 1px;
}

.chat>div {
    font-family: 'Roboto', sans-serif;
}

.chat>a {
    font-family: 'Roboto', sans-serif;
}

.chat>p {
    font-family: 'Roboto', sans-serif;
}

.chat-body {
    height: 300px;
    overflow: auto;
    width: 110%;
}

.chat-body>div {
    padding-right: 20px;
}

div.comment {
    display: flex;
    padding-bottom: 10px;
}

div.comment-revers {
    display: flex;
    padding-bottom: 10px;
    flex-direction: row-reverse;
}

div.comment-text {
    width: 100%;
}

div.comment-text>div:nth-child(1) {
    color: cadetblue;
    font-size: 10px;
    display: flex;
    justify-content: flex-start;
}

div.comment-text>div:nth-child(1)>div:nth-child(2) {
    margin-left: auto;
}

div.avatar>div {
    width: 30px;
    height: 30px;
    background-color: rgb(162, 205, 255);
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 3px;
    margin-top: 12px;
}

div.avatar-revers>div {
    width: 30px;
    height: 30px;
    background-color: rgb(162, 205, 255);
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 3px;
    margin-top: 12px;
}

#textarea-text {
    border-radius: 10px;
    border: solid #ececec 1px;
    overflow: hidden;
    outline: none;
    padding: 5px 5px;
    max-height: 35px;
    font-size: 14px;
}

.comment>.comment-text>.text {
    display: flex;
    font-size: 14px;
    border-radius: 0px 13px 13px 13px;
    padding: 10px;
    text-align: left;
    background-color: #cce2fa;
}

.comment-revers>.comment-text>.text {
    display: flex;
    font-size: 14px;
    border-radius: 13px 0px 13px 13px;
    padding: 10px;
    text-align: left;
    background-color: #eff6ff;
}

.bottom-conteiner {
    display: flex;
}

div.bottom-conteiner>div:nth-child(1) {
    width: 100%;
}

div.bottom-conteiner>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.bottom-conteiner>div:nth-child(2)>img {
    margin-left: 10px;
}

.send-button {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background-color: rgb(162, 205, 255);
    margin-left: 5px;
    cursor: pointer;
}

.send-button::after {
    content: '';
    position: relative;
    border: 20px solid transparent;
    border-bottom: 8px solid rgb(103, 173, 255);
    border-left: 0px solid rgb(103, 173, 255);
    left: 10px;
    bottom: 32px;
}

.send-button::before {
    content: '';
    position: relative;
    border: 20px solid transparent;
    border-left: 0px solid rgb(103, 173, 255);
    border-top: 8px solid rgb(103, 173, 255);
    top: 27px;
    left: 10px;
}