.request {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.info {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 10px 0 30px;
}